[Desktop Entry]
Encoding=UTF-8
Name=LennyPanel
Comment=Quick access to your favorite emoticons.
Exec=/bin/lennypanel
Icon=/usr/share/doc/lennypanel/lennypanel.png
Terminal=false
Type=Application
Categories=Application
StartupNotify=true
